@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #6F1D1B;    /* Deep red */
  --primary-gold: #BB9457;    /* Gold */
  --secondary-dark: #432818;  /* Dark brown */
  --accent: #99582A;         /* Medium brown */
  --light: #FFE6A7;          /* Light gold */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
